.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  background-image: url("./components/pictures/urilogo.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 80%;
  background-size: 75vh;
}

.App-header {
  background-color: transparent;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar {
  width: 100%;
}

.navBut {
  width: 17%;
  padding: 15px;
  background-color: transparent;
  border-top-color: white;
  border-bottom-color: transparent;
  border-left: transparent;
  border-right: transparent;
  color: white;
}

.navBut:hover {
  background-color: #484b50;
}

.navBut:focus {
  outline: none;
}

.terminal {
  position: relative;
  background-color: black;
  width: 55%;
  height: 60vh;
  left: 22.5%;
  top: 5vh;
  box-shadow: 0px 0px 10px 2px rgb(12, 12, 12);
  overflow-y: scroll;
  padding-right: 10px;
}

.cmd {
  background-color: white;
  color: black;
  text-align: left;
  width: inherit;
  font-size: 12px;
  padding: 5px;
  border: transparent;
  position: fixed;
}

.cmdimg {
  width: 10px;
  padding-right: 5px;
}

.x {
  float: right;
  width: 15px;
}

.x:hover {
  background-color: rgb(255, 27, 27);
  box-shadow: 0px 0px 0px 6px rgb(255, 27, 27);
}

.cmdtext {
  text-align: left;
  color: #1fd81f;
  font-size: 14px;
  font-family: 'Lucida Console';
  margin-top: 30px;
  padding-left: 1px;
  padding-bottom: 1px;
}

.blink_me {
  animation: blinker 0.5s step-start infinite;
  position: relative;
  padding-left: 5px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes wait {
  from {
    color: #000;
  }
}

.enter {
  width: inherit;
  height: 20px;
  background-color: black;
  border: black;
}

.enter:focus {
  outline: none;
}

.load {
	position: relative;
	color: transparent;	
}

@keyframes loading {
	from { 
    max-width: 0;
    max-height: 12px;
  }
}

.load:before {
	content: attr(data-content);
  position: absolute;
  overflow: hidden;
  color: #1fd81f;
  max-width: 30em;
  max-height: 12px;
	animation: loading 1.5s linear;
}

.contactBar {
  width: 100vh;
  position: relative;
  margin-top: -20px;
}

.contactImg {
  width: 25px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.tablediv {
  width: 90%;
  height: 75%;
  background-color: rgb(22, 22, 22);
  margin: 0 auto;
  border-radius: 10px;
  opacity: 0.85;
  padding-top: 20px;
}

.organizer {
  width: 60%;
  height: fit-content;
  position: relative;
  left: 22.5%;
}

.bubble {
  max-width: fit-content;
  min-width: 25%;
  height: fit-content;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  align-self: center;
  opacity: 0.8;
  border-radius: 10px;
}

.continue {
  border-top-color: rgb(206, 203, 203);
  color: grey;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: white;
  width: stretch;
  border-radius: 5px;
}

.continue:hover {
  background-color: #ebe6e6;
}

.continue:focus {
  outline: none;
}

