.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  background-image: url("./components/urilogo.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 38%;
}

.App-header {
  background-color: transparent;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar {
  width: 100%;
}

.navBut {
  width: 17%;
  padding: 15px;
  background-color: transparent;
  border-top-color: white;
  border-bottom-color: transparent;
  border-left: transparent;
  border-right: transparent;
  color: white;
}

.navBut:hover {
  background-color: #484b50;
}

.navBut:focus {
  outline: none;
}

.terminal {
  position: relative;
  background-color: black;
  width: 55%;
  height: 50vh;
  left: 50vh;
  top: 5vh;
  box-shadow: 1px 1px 1px 1px rgb(12, 12, 12);
}

.cmd {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 12px;
  padding: 5px;
  overflow: show;
}

.cmdimg {
  width: 10px;
  padding-right: 5px;
}

.x {
  float: right;
  width: 15px;
}

.cmdtext {
  text-align: left;
  color: #1fd81f;
  font-size: 14px;
  font-family: 'Lucida Console';
  margin-top: 3px;
}

.blink_me {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}